.board-home {
  vertical-align: middle;
}

.boards-page {
  text-align: center;
  margin: auto;
}

.make-board {
  vertical-align: middle;
  margin: auto;
}

.boards {
  vertical-align: middle;
  margin: auto;
}