<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <div>
      <h1 class="boards">{{vm.lists.name}}</h1>
    </div>
    </div>
  </div>

  <div class="row">
    <div ng-model="lists" ng-repeat='list in vm.lists._lists'>
      <uib-accordion close-others="true">
        <uib-accordion-group is-open="isopen">
          <uib-accordion-heading>
            {{list.name}}
            <div class="dropdown-menu-left btn-group list-options" uib-dropdown>
              <button type="button" class="glyphicon glyphicon-menu-down" uib-dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="$event.stopPropagation();"></button>
              <ul class="dropdown-menu list-dropdown">
                <li><a href="#">Rename List</a></li>
                <li><a href="#">Delete List</a></li>
              </ul>
            </div>
          </uib-accordion-heading>
          <div ng-controller="TodoCtrl as todos">
            <div ng-init="todos.showTodos(list._id)">
              <div ng-repeat="name in todos.todos">
                <div class="todo-items col-xs-6" ng-hide="editorEnabled">
                {{name.name}}
                <a href="#" ng-click="editorEnabled=!editorEnabled">  edit</a>
                </div>
                <div ng-show="editorEnabled">
                  <input ng-model="name.name">
                  <a href="#" ng-click="save()">save</a>
                  <a href="#" ng-click="disableEditor()">cancel</a>
                </div>
              </div>
            </div>
            <p>
              <form role='form' class="add-todo col-xs-12" ng-submit="todos.create(list._id)">
              <div class="input-group">
                <input type="text" ng-model="todos.formData.name" placeholder="Add Todo" class="form-control">
              </div>
              </form>
            </p>
          </div>
        </uib-accordion-group>
      </uib-accordion>
    </div>
  </div>
<!-- Create a Todo List -->
  <div class="col-md-3">
    <h3 class="boards">Create A Todo List</h3>
    <div class="row">
      <div class="col-md-3 text-center make-list">
        <form role="form" ng-submit="vm.create(vm.lists._id)">
          <div class="row">
            <div class="input-group">
              <input type="text" ng-model="vm.formData.name" placeholder="Todo List Name" class="form-control">
              <span class="input-group-btn">
                <input type="submit" class="btn btn-primary" value="Create">
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
