<div class="container">
  <h3 class="boards">My Boards</h3>
  <div class="row">
    <div class="boards-page">
      <div ng-init='vm.show' ng-repeat='board in main.boards'>
<!--         <ul class="board-list">
          <li> -->
          <a class="box" href="#/lists?boardId={{board._id}}&boardName={{board.name}}">
            <div class="open-board">
              <span class="fade"></span>
                <span class="board-list-name">{{board.name}}</span>
              </span>
            </div>
          </a>
      </div>
    </div>
  </div>
<!-- Create a Board -->
  <h3 class="boards">Create A New Board</h3>
  <div class="row">
    <div class="col-md-6.text-center make-board">
      <form role="form" ng-submit="main.createBoard()">
        <div class="row">
          <div class="input-group">
            <input type="text" ng-model="main.formData.name" placeholder="Board Name" class="form-control">
            <span class="input-group-btn">
              <input type="submit" class="btn btn-primary" value="Create">
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>